@{
    ViewBag.Title = "Payment Canceled";
}

<div class="text-center">
    <i class="fas fa-times-circle fa-3x text-danger"></i>
    <h2 class="mt-3">Payment Canceled</h2>
    <p class="lead">Your payment was canceled. Please try again if you wish to complete your purchase.</p>
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Go to Home</a>
</div>