@{
    ViewData["Title"] = "Начална страница";
}

<!-- Hero Section -->
<div class="hero">
    <h1>Добре дошли в Car Selling Hub</h1>
    <p>Най-новият иновативен магазин за продажба на коли</p>
    <a href="/car/Index">Виж офертите</a>
</div>

<!-- Features Section -->
<div class="features" id="features">
    <div class="feature">
        <h3>Най-нови модели</h3>
        <p>Бъдете в течение с най-новите модели автомобили, техните спецификации и информация за ефективността.</p>
    </div>
    <div class="feature">
        <h3>Ревюта от експерти</h3>
        <p>Получете задълбочени отзиви от автомобилни експерти, които да ви помогнат да вземете информирани решения.</p>
    </div>
    <div class="feature">
        <h3>Общински форум [скоро]</h3>
        <p>Присъединете се към общност от автомобилни ентусиасти, споделете опита си и получете съвет.</p>
    </div>
</div>

<!-- About Section -->
<div class="about">
    <h2>За нас</h2>
    <p>Car Enthusiast Hub е платформа, посветена на любителите на автомобили по целия свят. Независимо дали харесвате спортни автомобили, луксозни превозни средства или класически модели, нашата мисия е да ви предоставим най-новите новини, рецензии и прозрения от света на автомобилите. Присъединете се към нас, докато изследваме най-добрите коли на пътя.
    </p>
</div>

<!-- Contact Section -->
<div class="contact">
    <h3>Свържете се с Нас!</h3>
    <p>Имате въпроси? Искате да си сътрудничим? <a href="mailto:bgdenibg@gmail.com">Свържете се</a> с мен.</p>
</div>