.img-thumbnail {
    width: 100px; /* Set desired width */
    height: 100px; /* Set desired height */
    object-fit: cover; /* Ensures that images cover the area without distortion */
    border-radius: 8px; /* Optional: rounded corners */
}

.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000; /* Ensure modal is on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Dark overlay */
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

/* Modal content styling */
.modal-content {
    max-width: 90vw; /* Limit width to 90% of viewport width */
    max-height: 80vh; /* Limit height to 80% of viewport height */
    width: auto; /* Allow width to scale with image size */
    height: auto; /* Allow height to scale with image size */
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Close button styling */
.close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #f1f1f1;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
    }
